@if(flashMessage('error'))
  <nav class="navbar is-fixed-bottom is-danger">
@else
  <nav class="navbar is-fixed-bottom">
@endif
  <div class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        @if(flashMessage('error'))
          {{ flashMessage('error') }}
        @endif
    </div>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      Version:1.23
    </div>
  </div>
</nav>
