<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    
    <script src="https://rawgit.com/fabricjs/fabric.js/master/dist/fabric.js"></script>

    <title>Editor</title>
</head>
<body>
  <script type="text/javascript" src="/js/editor_bundle.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/menu.css">

<nav class="navbar" role="navigation" aria-label="main navigation">

    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <button class="button" onclick="save()">
        <span class="icon">
          <i class="fas fa-lg fa-save"></i>
        </span>
      </button>

    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<textarea id="editor" class="textarea" rows="100">
</textarea>

<script type="text/javascript" >
  let id = {{ doc.id }};
  let csrf = '{{ csrfToken }}';
  let data = {{{ doc.data }}};
  data = JSON.parse(data);
  data = JSON.stringify(data, null, 2);
  
  document.getElementById('editor').value = data;

  function save(){
    console.log("saving");

    let json = document.getElementById('editor').value;
    
    let http = new XMLHttpRequest();
    http.open("POST", 'save', true);
    http.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    http.setRequestHeader("Accept", "application/json");
  
    http.onreadystatechange = function() {//Call a function when the state changes.
      if(http.readyState == 4 && http.status == 200) {
        var res = JSON.parse(http.responseText);
        console.log(res);
        //$('#status').text(res.status+'|'+res.store);
      }
    }
    let params = JSON.stringify({
      '_csrf': csrf,
      'id': id,
      'json': json
    });
    http.send(params);
  }
</script>

</body>
</html>
